[submodule "plugins"]
	path = plugins
	url = https://github.com/faisalijaz1/lims.git
[submodule "tools/Liquibase-Outdated"]
	path = tools/Liquibase-Outdated
	url = https://github.com/faisalijaz1/lims.git
[submodule "tools/Password-Migrator"]
	path = tools/Password-Migrator
	url = https://github.com/faisalijaz1/lims.git
[submodule "Consolidated-Server"]
	path = Consolidated-Server
	url = https://github.com/faisalijaz1/lims.git
[submodule "hapi-fhir-jpaserver-starter"]
	path = hapi-fhir-jpaserver-starter
	url = https://github.com/faisalijaz1/lims.git
[submodule "dataexport"]
	path = dataexport
	url = https://github.com/faisalijaz1/lims.git
