[submodule "plugins"]
	path = plugins
	url = https://github.com/faisalijaz1/plugins.git
	branch = main
[submodule "tools/Liquibase-Outdated"]
	path = tools/Liquibase-Outdated
	url = https://github.com/faisalijaz1/Liquibase-Outdated
[submodule "tools/Password-Migrator"]
	path = tools/Password-Migrator
	url = https://github.com/faisalijaz1/Password-Migrator
[submodule "Consolidated-Server"]
	path = Consolidated-Server
	url = https://github.com/faisalijaz1/Consolidated-Server.git
[submodule "hapi-fhir-jpaserver-starter"]
	path = hapi-fhir-jpaserver-starter
	url = https://github.com/faisalijaz1/hapi-fhir-jpaserver-starter.git
[submodule "dataexport"]
	path = dataexport
	url = https://github.com/faisalijaz1/dataexport.git
